.form h1{
    color: #2b8a3e;
}
.form{
    width: 40%;
    margin: 0 auto;
}
.form > h1{
    font-size: 40px;
}
.form > input {
    padding: 12px 16px;
    width: 70%;
    border: solid 1px #868e96;
    border-radius: 5px;
    font-size: 20px;
}
button{
    border: none;
    border-radius: 5px;
    background-color: #2b8a3e;
    padding: 12px 18px;
    color: #ffffffff;
    font-size: 20px;
}