.displayProducts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 80px;
    gap: 50px;
} 
#heading{
    font-size: 50px;
    color: #2b8a3e;
    margin-left: 40%;
}
.view{
    padding: 15px;
    border-radius: 10px;
    background-color: #2b8a3e;
}
.images{
    border: solid 5px #2b8a3e;
    margin-top: 8%;
    border-radius: 20px;
    width: 350px;
    height: 250px;
}